:root{
    --font-color-black: #3a3a3aff;
    --font-color-grey: #707070ff;
    --color-pink: #c36e85ff;
    --color-light-ping: #d08da0ff;
    --bg-color-grey: #efefef;
}

body{
    margin: 0;
    background: var(--bg-color-grey);
    color: var(--font-color-black);
    font-family: Bahnschrift, serif;
}

.demo-line{
    background: var(--bg-color-grey);
    border-bottom: 0.1em solid white;
}

.section-header{
    height: 520px;
    line-height: 1;
}

.section-body{
    width: 900px;
    height: 100%;
    margin: auto;
    border: 0px solid black;
    position: relative;
}

.section-header .title{
    padding-top: 185px;
    font-family: Cambria, serif;
    font-size: 35pt;
    font-weight: bold;
    letter-spacing: -0.5px;
}
.section-header .description{
    margin-top: 10px;
    font-size: 35pt;
    font-weight: bold;
    letter-spacing: -1.3px;
    color: var(--color-pink);
}
.section-header .about{
    margin-top: 50px;
    font-size: 12pt;
    max-width: 330px;
    color: var(--font-color-grey);
}
.section-header .social-media{
    margin: auto;
    width: fit-content;
}
.section-header .social-media a {
    text-decoration: none;
    margin: 0 6px;
}
.section-header .theme-art{
    position: absolute;
    z-index: -1;
    top: -2px;
    right: 10px;
}


.section-projects{
    height: 530px;
    background: #c6c1c3;
    box-shadow: 1px 1px 5px 0px #00000008;
    z-index: 20;
    position: relative;
}
.section-projects .section-title{
    position: absolute;
    left: -102px;
    top: -15px;
    width: 95px;
    background: var(--font-color-black);
    color: white;
    padding-top: 36px;
    padding-bottom: 5px;
    font-size: 14pt;
    font-weight: 400;
    text-align: center;
}
.section-projects .section-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px 8px;
}
.project-item{
    position: relative;
    text-decoration: none;
    background: white;
    padding: 7px;
    margin-top: 8px;
}
.project-item.placeholder{
    padding: 100px 20px 0 20px;
    background: #c6c1c3;
    border: 7px solid white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: white;
}
.project-img{
    width: 100%;
    background: var(--bg-color-grey);
}
.project-title{
    position: absolute;
    top: 7px;
    right: 7px;
    left: 7px;
    height: 100px;
    font-size: 14pt;
    font-weight: 400;
    color: white;
    padding: 7px 8px;
    background: linear-gradient(var(--font-color-black), transparent);
}
.project-description{
    font-size: 10pt;
    font-weight: normal;
    color: var(--font-color-grey);
    margin-bottom: 10px;
}
.project-link{
    position: absolute;
    bottom: -7px;
    right: 5px;
    font-size: 10pt;
    font-weight: 600;
    letter-spacing: -0.5px;
    text-decoration: none;
    background: var(--color-pink);
    padding: 6px 9px 4px 9px;
    color: white
}
.project-link:hover{
    background: var(--color-light-ping);
}